<a class="linkItens" href="{{ path('adminEditar', {'id': var.item.id}) }}">
    <div class="item">
        <p class="nomeItem">{{ var.item.nome }}</p>
        <div class="date">
            <p>Comprado em:</p>
            <p class="dia">{{ var.item.dataCompra|date('d') }}</p>
            <p>{{ var.item.dataCompra|date('m/y') }}</p>
        </div>
        <div class="valor">
            <p>R$ {{ var.item.valor }}</p>
        </div>
    </div>
</a>