<div class="panel-heading">
    <a href="{{ path('produtoShow', {'id': item.id}) }}">
        <h3 class="panel-title text-capitalize">{{ item.nome }}</h3>
    </a>
</div>
<div class="text-center">
    <p>Comprado em:</p>
    <p class="h1">{{ item.dataCompra|date('d') }}</p>
    <p class="h6">{{ item.dataCompra|date('m/y') }}</p>
</div>
<div class="panel-footer">
    <p class="text-left">R$ {{ item.valor|number_format(2, ',', '.') }}</p>
</div>
