{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/editar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/show.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/navigation.html.twig')}}
    <div class="container-fluid conteudo">
        <div class="title">
            <h2>Lista de Produtos</h2>
        </div>
        <div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a href="{{ path('produtoCreate') }}" class="floatingAdd">
                            <span class="material-icons">add</span>
                        </a>
                        <div class="list-group">
                            {% for item in produtos %}
                                <a href={{ path('produtoUpdate', {'id': item.id}) }} class="list-group-item">
                                    <div class="container">


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="item">
                                                    <h4 class="list-group-item-heading">{{ item.nome }}</h4>
                                                    <p class="list-group-item-text">{{ item.dataCompra|date('d/m/y') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

