{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/navigation.html.twig')}}
    <div class="conteudo">
        <a href="{{ path('adminCriar') }}" class="floatingAdd">
            <span class="material-icons">
                add
            </span>
        </a>

        {% for item in produtos %}
            {{ include('components/card.html.twig', { 'item': item }) }}
        {% endfor %}

    </div>
{% endblock %}

