{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navigation.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/navigation.html.twig')}}
    <div class="container conteudo">

        <div class="row">
            {% for item in produtos %}
                <div class="col-md-4">
                    {{ include('components/card.html.twig', { 'item': item }) }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

