{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/navigation.html.twig')}}
    <a href="{{ path('produtoCreate') }}" class="floatingAdd">
        <span class="material-icons">add</span>
    </a>
    <div class="container marginTopNavBar">
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-error">
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% for item in produtos %}
                <div class="col-md-3">
                    {{ include('components/produtoCard.html.twig', { 'item': item }) }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/produto/index.js') }}"></script>
{% endblock %}

