<div class="col-md-12 panel panel-default well card">
    <div class="panel-heading text-center">
        <a href="{{ path('produtoShow', {'id': item.id}) }}">
            <h3 class="panel-title text-capitalize"><strong>{{ item.nome }}</strong></h3>
        </a>
    </div>
    <div class="text-center">
        <p class="text-left">Comprado em:</p>
        <p class="h1">{{ item.dataCompra|date('d') }}</p>
        <p class="h6">{{ item.dataCompra|date('m/y') }}</p>
    </div>
    <div class="panel-footer text-center">
        <p class="h3"><span class="label label-success">R$ {{ item.valor|number_format(2, ',', '.') }}</span></p>
    </div>
</div>